name: data
on:
  push:
    paths:
      - .github/workflows/flat.yml
      - ./postprocess.js
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.10.x
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://landing-farfaraway.webflow.io/
          downloaded_filename: webflow.html
          postprocess: ./postprocess.js
